.App {
  text-align: center;
}
.Home{
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: azure;
}

.Header{
  margin: 200px;
}
.Service{
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: bisque;
}
footer{
    position: bottom;    
}
